*.DS_Store
*.asv
Audio Data
Treble/.idea
Treble/treble_tsdk-2.0.17-py3-none-any.whl
.idea
Treble/Results
*.wav
Validation Results
Simulation Parameters/Unused Routings
Simulation Parameters/Routings OLD
Simulation Parameters/Routings (single ls test)
